#EXTRA_JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
# #    url: jdbc:mysql://${HOSTNAME:localhost}:3306/${DATABASE_NAME:vaxjo}?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
SERVER_PORT=8080
SPRING_LOG_LEVEL=INFO
LOG_LEVEL=INFO

VB_URL=https://bpvx.vaxjo.se/API/Service/SearchServiceHandler.ashx
SLACK_URL=https://hooks.slack.com/services/REDACTED
DATABASE_UPDATE_CRON='0 11 11,19 ? * MON,TUE,WED,THU,FRI'
SLACK_CRON='0 19 11,19 ? * MON,TUE,WED,THU,FRI'

GOOGLE_API_KEY=REDACTED


HOSTNAME=192.168.0.5
DATABASE_NAME=vaxjo
DATABASE_USERNAME=vaxjo
DATABASE_PASSWORD=vaxjo