#EXTRA_JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
# #    url: jdbc:mysql://${HOSTNAME:localhost}:3306/${DATABASE_NAME:vaxjo}?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
SERVER_PORT=8080
SPRING_LOG_LEVEL=INFO
LOG_LEVEL=INFO

VB_URL=https://bpvx.vaxjo.se/API/Service/SearchServiceHandler.ashx
VX_PREFIX_LINK=https://bpvx.vaxjo.se/pgObjectInformation.aspx?company=1&obj=

LAST_DATE_CRON='0 30 7 * * ?' # 7:30 every day
DATABASE_UPDATE_CRON='0 11 11,19 ? * MON,TUE,WED,THU,FRI' # 11:11 and 19:11 every weekday
SLACK_CRON='0 19 11,19 ? * MON,TUE,WED,THU,FRI'

# Below must be set in production
DATABASE_DIALECT=org.hibernate.dialect.MariaDBDialect

# Google library automatically uses this environment variable
GOOGLE_API_KEY=#Key-disabled

HOSTNAME=host.docker.internal
DATABASE_NAME=vaxjo
DATABASE_USERNAME=vaxjo
DATABASE_PASSWORD=vaxjo

CONFIG_FILE_PATH=/app/homeSearchConfig.json

JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005